.root {
    min-width: 275;
    max-width: 500;
  }
.bullet {
	display: 'inline-block';
	margin: '0 2px';
	transform: 'scale(0.8)';
}
body {
	padding: 50px;
}
.title {
	font-size: 14;
}
.pos {
	margin-bottom: 12;
}
.postCard {
	max-width: 300px;
	margin-top: 50;
}
.postCardSingle {
	width: 500px;
	margin-top: 50;
}
.postContainer {
	padding: 100;
}
.postContainerSkeleton {
	margin-top: -100px;
}
.MuiSkeleton-root {
	height: 250px;
}
.postsSkel {
	width: 300px;
	height: 450px;
}
.postsLoad_Container {
}
.tall {
	height: 200px;
}
.link {
	text-decoration: none !important;
}
a {
	text-decoration: none;
	font-size: 20px;
	color: #888;
}
.current {
	color: blue;
}
h1 {
	margin: 0px auto;
	margin-top: 50px;
	margin-bottom: 100px;
}